In [1]:
import pandas as pd
import numpy as np

In [ ]:
### 1. Read data

In [2]:
df = pd.read_csv('tweets.csv')
df

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [3]:
df=df[['text','airline_sentiment']]

In [4]:
df.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df['airline_sentiment'])
df['airline_sentiment']=le.transform(df['airline_sentiment'])
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                                                text  airline_sentiment
0                @VirginAmerica What @dhepburn said.                  1
1  @VirginAmerica plus you've added commercials t...                  2
2  @VirginAmerica I didn't today... Must mean I n...                  1
3  @VirginAmerica it's really aggressive to blast...                  0
4  @VirginAmerica and it's a really big bad thing...                  0

### 2. Text Preprocessing

In [6]:
import re
import nltk
nltk.download('stopwords')
#used once to download stopwords.
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def text_preprocessing(text):
    smsDocument = re.sub('[^a-zA-Z]',' ',text)
    smsDocument = smsDocument.lower()
    smsDocument = smsDocument.split()
    smsDocument = [ps.stem(word) for word in smsDocument if not word in set(stopwords.words('english'))]
    smsDocument = ' '.join(smsDocument)
    return smsDocument

[nltk_data] Downloading package stopwords to C:\Users\jannett
[nltk_data]     chabbeh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
df['text']=df['text'].apply(lambda x: text_preprocessing(x))
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                                    text  airline_sentiment
0                            virginamerica dhepburn said                  1
1             virginamerica plu ad commerci experi tacki                  2
2      virginamerica today must mean need take anoth ...                  1
3      virginamerica realli aggress blast obnoxi ente...                  0
4                     virginamerica realli big bad thing                  0
...                                                  ...                ...
14635        americanair thank got differ flight chicago                  2
14636  americanair leav minut late flight warn commun...                  0
14637  americanair pleas bring american airlin blackb...                  1
14638  americanair money chang flight answer phone su...                  0
14639  americanair ppl need know mani seat next fligh...                  1

[14640 rows x 2 columns]

### 3. Prepare train and test datasets:

In [8]:
# Split data
from sklearn.model_selection import train_test_split
dfTrain, dfTest = train_test_split(df,train_size=0.7,random_state=1,stratify=df['airline_sentiment'])

In [9]:
dfTrain.shape

(10248, 2)

In [10]:
dfTest.shape

(4392, 2)

### 4. Feature engineering

#### Bag of words

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
parseur= CountVectorizer()
#create the document term matrix
XTrain = parseur.fit_transform(dfTrain['text'])
#number of tokens
print(len(parseur.get_feature_names()))

8745

In [12]:
mdtTrain = XTrain.toarray()
mdtTrain.shape

(10248, 8745)

In [13]:
mdtTrain

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [14]:
XTest = parseur.transform(dfTest['text'])
mdtTest = XTest.toarray()
mdtTest.shape

(4392, 8745)

### 5. Modeling and evaluation

In [15]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB

In [16]:
classifiers = [
    LogisticRegression(),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
     GaussianNB()]

In [17]:
# Logging for Visual Comparison
results_cols = ["Classifier", "Accuracy"]
results_df = pd.DataFrame(columns=results_cols)

for clf in classifiers:
    name = clf.__class__.__name__
    print("="*30)
    print(name)
    clf.fit(mdtTrain, dfTrain['airline_sentiment'])
        
    test_predictions = clf.predict(mdtTest)
    acc = accuracy_score(dfTest['airline_sentiment'], test_predictions)
    
    res_entry = pd.DataFrame([[name, acc*100]], columns=results_cols)
    results_df = results_df.append(res_entry)

==============================
LogisticRegression

c:\users\jannett chabbeh\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\jannett chabbeh\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

==============================
DecisionTreeClassifier
==============================
RandomForestClassifier

c:\users\jannett chabbeh\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

==============================
AdaBoostClassifier
==============================
GaussianNB

In [18]:
results_df

               Classifier   Accuracy
0      LogisticRegression  78.802368
0  DecisionTreeClassifier  68.351548
0  RandomForestClassifier  74.112022
0      AdaBoostClassifier  72.563752
0              GaussianNB  43.306011